USE [master]
GO
/****** Object:  Database [cmblogin]    Script Date: 8/12/2024 5:45:44 PM ******/
CREATE DATABASE [cmblogin]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cmblogin', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\cmblogin.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cmblogin_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQL2022\MSSQL\DATA\cmblogin_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cmblogin].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cmblogin]
GO
/****** Object:  Table [dbo].[login]    Script Date: 8/12/2024 5:45:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[login](
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[usertype] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
